---

---

<div class="h-72 w-full overflow-hidden rounded-box shadow-md lg:h-full lg:min-h-[26rem]">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.162431052917!2d18.987024776835458!3d47.525700593559854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ded3ef2579fd%3A0x4c1336290c9ec127!2sBudapest%2C%20Pasar%C3%A9ti%20%C3%BAt%20157b%2C%201026!5e0!3m2!1sen!2shu!4v1781620526404!5m2!1sen!2shu"
    width="100%"
    height="100%"
    style="border:0; display:block;"
    allowfullscreen
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Pasaréti út 157/b, Budapest"
  ></iframe>
</div>
